@model Projeto.Models.Produtos
<div class="containercadastroP">


    <h1 class="titucadastre">CADASTRE UM PRODUTO</h1>
    <form method="post" enctype="multipart/form-data">
        <div>
            <p class="comando-input">Tipo do Produto</p>
            <input type="text" name="tipoP">
        </div>

        <div>
            <p class="comando-input">Nome do produto</p>
            <input type="text" name="nome">
        </div>

        <div>
            <p class="comando-input">Código do produto</p>
            <input type="text" name="codigo">
        </div>

        <div>
            <p class="comando-input">Descrição</p>
            <input type="text" name="descricao">
        </div>

        <div>
            <p class="comando-input">Preço</p>
            <input type="text" name="preco">
        </div>


        <div>
            <p class="comando-input">Tamanho</p>
            <input type="text" name="tamanho">
        </div>

        <div>
            <p class="comando-input">Marca</p>
            <input type="password" name="marca">
        </div>

        <div>
            <p class="comando-input">Estoque</p>
            <input type="number" name="estoque">
        </div>
        <div>
            <p class="comando-input">Imagem</p>
            <input type="file" name="arquivo">
        </div>


        <input type="submit" value="Cadastrar produto" class="button-cadastrarp"/>
    </form>


</div>
 