<title>Cadastro - ALLSKATERS</title>
<br>
<br>

<div class="container-cadastro">
    <form method="post">
        <div style="padding-left:145px">
            <p class="comando-input">Nome completo</p>
            <input type="text" name="nome">
        </div>

        <div style="padding-left:145px">
            <p class="comando-input">E-mail</p>
            <input type="email" name="email">
        </div>

        <div style="padding-left:145px">
            <p class="comando-input">USUÁRIO</p>
            <input type="text" name="username">
        </div>

        <div style="padding-left:145px">
            <p class="comando-input">SENHA</p>
            <input type="password" name="senha">
        </div>
        <input type="submit" value="CADASTRA-SE" class="button-cadastrar" />
    </form>
    <div class="japossui"><p>Ja possui conta? <a href="login.html" class="entrarsessao">     <strong> Iniciar sessão</strong></a></p></div>
    <br>
    <div id="container-informacoes">
        <img src="~/img/Captura de tela 2022-05-02 162030.jpg" alt="" style="height: 100px; padding-bottom: 5px;">
        <img id="img-informacoes" src="~/img/Captura de tela 2022-05-02 161648.jpg" alt="">
        <img id="img-informacoes" src="~/img/Captura de tela 2022-05-02 162100.jpg" alt="">
    </div>
</div>

<br />



