<title>Contato - ALLSKATERS</title>
<br>
<div id="div-texto-contato">
    <p id="p-contato">
        UNICO CANAL DE ATEDIMENTO DA LOJA E O WHATS UP, <br>
        DE SEG A SEX A PARTIR DAS 10:00 E SABADO ENTRE
        11:00 E 16:00, QUANDO ENVIAR SUA MENSAGEM <br>
        SO ESPERAR A SUA VEZ NO ATEDIMENTO, OBRIGADO
    </p>
</div>

<div id="div-contatos">
    <div id="div-formas-contato">
        <div id="div-itens"><img id="img-item" src="~/img/phone.png" alt=""> <p id="p-contato">Telefone: 19986059292 </p></div>
        <div id="div-itens"><img id="img-item" src="~/img/email.png" alt=""><p id="p-contato">Email: allskaterssz@gmail.com </p></div>
        <div id="div-itens"><img id="img-item" src="~/img/local.png" alt=""> <p id="p-contato">cx postal, 11111</p></div>
    </div>
    <div id="div-redes-sociais">
        <div id="div-itens"><a id="p-contato" href="https://instagram.com/allskaterssz/">Siga-nos no Instagram </a></div>
 
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="div-formulario">
    <form action="post">
        <p id="p-contato">NOME COMPLETO</p>
        <input type="text" name="nome">
        <br><br><br>
        <p id="p-contato">EMAIL</p>
        <input type="email" name="email">
        <br><br><br>
        <p id="p-contato">TELEFONE</p>
        <input type="tel" name="telefone">
        <br><br><br>
        <p id="p-contato">Mensagem(opcional)</p>
        <textarea name="mensagem" id="" cols="80" rows="10"></textarea>
        <br><br><br>
        <input type="submit" value="Enviar Mensagem">

    </form>
</div>
<br>
<br>