<title>Minha Conta - ALLSKATERS</title>
<div class="container-minha-conta ">
    <p>Inicio/ <strong>Minha Conta</strong></p>
    <h1>Minha conta</h1>
    <br>
    <br>
    <div class="meusdados">

        <p>MEUS DADOS</p>

        <br>

        <p class="editar">Editar</p>

    </div>
    <br>
    <hr size="1" class="hr-minhaconta">
    <div class="perfil">
        <p> <strong> Perfil: </strong></p>
        <p>Gustavo Anacleto</p>
        <br><br>
    </div>
    <div class="email">
        <p> <strong> E-mail: </strong></p>
        <p>guguzim.anacleto@gmail.com</p>
        <br><br>
    </div>
    <div class="cpf">

        <p> <strong>CPF:  </strong></p>
        <p>137.917.188-19</p>
        <br><br>
    </div>
    <div class="tel">

        <p> <strong> Telefone: </strong></p>
        <p>+5519991063141</p>
    </div>
</div>
    <br>
