<title>Login - ALLSKATERS</title>
<div class="container-full-cadastro">
    <div class="container-cadastro">

        <form method="post">
            <div>

                <p class="comando-input">Usuario</p>
                <input type="text" name="username">
            </div>
            <div>
                <p class="comando-input">SENHA</p>
                <input type="password" name="senha">
            </div>
            <input type="submit" value="ENTRAR" class="button-cadastrar" />
        </form>
    </div>
    <div class="japossui">
        <p>
            Não possui conta? <a href="cadastro.html" class="entrarsessao">
                <strong> Criar</strong>
            </a>
        </p>

    </div>

    <br />

    <div id="container-informacoes">
        <img src="img/Captura de tela 2022-05-02 162030.jpg" alt="" style="height: 100px; padding-bottom: 5px;">
        <img id="img-informacoes" src="img/Captura de tela 2022-05-02 161648.jpg" alt="">
        <img id="img-informacoes" src="img/Captura de tela 2022-05-02 162100.jpg" alt="">
    </div>
    <br>
    <br>

</div>