<title>Início - ALLSKATERS</title>
<body>
    <br/>
    <div class="slideshow-container">
        <a href="" id="link">
            <div class="mySlides fade">
                <img class="img-carrosel"
                     src="~/img/1-slide-1647004170681-3088986957-2ea2a8a3fa15ce2b8aeb18c1a06fd7ee1647004175-1920-1920.jpg"
                     alt="">
            </div>
        </a>
        <a href="" id="link">
            <div class="mySlides fade">
                <img class="img-carrosel"
                     src="~/img/1-slide-1648737484662-350492142-8a0f94db904c79a17755442c98f216431648737488-1920-1920 (1).jpg"
                     alt="">
            </div>
        </a>
        <a href="" id="link">
            <div class="mySlides fade">
                <img class="img-carrosel"
                     src="~/img/1-slide-1639514582628-7725355249-cd1cd1ccc37ca098278a0a7310274cbb1639514587-1920-1920.webp"
                     alt="">
            </div>
        </a>
        <br>
        <div style="text-align:center;">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    <br>

    <div id="container-informacoes">
        <img src="~/img/Captura de tela 2022-05-02 162030.jpg" alt="" style="height: 100px; padding-bottom: 5px;">
        <img id="img-informacoes" src="~/img/Captura de tela 2022-05-02 161648.jpg" alt="">
        <img id="img-informacoes" src="~/img/Captura de tela 2022-05-02 162100.jpg" alt="">
    </div>
    <br>
    <br>
    <div id="container-promocao">
        <img class="img-promo"
             src="~/img/1-img-674183029-1646665271-845b920c415af20dc88a96db17dc720e1646665271-640-0.webp" alt="">
        <img class="img-promo"
             src="~/img/1-img-1421778600-1646665317-b712fad5a575c31e740da337e6c6d58c1646665317-480-0.webp" alt="">
        <img class="img-promo"
             src="~/img/1-img-928368088-1648738341-0605735bf2a3ddee2e0dbaeb252662f31648738341-480-0.webp" alt="">
    </div>
    <br>
    <br>
    <br>
    <h1 class="titulo">
        MAIS VISTOS
    </h1>
    <br>
    <div id="container-mais-vistos">
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/skate-ursinho-preto-4d7d0c482b9c5671d816231860351977-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 177px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">SKATE MONTADO URSO ESPACIAL</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$249,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 41,65</strong> sem juros
                </p>
            </div>
        </div>
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/sk8-astronaut1-2379081d902a94066616361189157055-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 177px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">SKATE MONTADO DONUTS</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$219,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 36,65</strong> sem juros
                </p>
            </div>
        </div>
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/skate-br-roxo-urso1-7283a44aa02d7e001216015185093606-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 177px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">SKATE MONTADO SKATEBR PUP</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$129,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 21,65</strong> sem juros
                </p>
            </div>
        </div>
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/skate-cbgang-donuts-astronauta31-85a59f2c0075ea91ad16316389729098-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 177px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">SKATE MONTADO ALL SKATERS</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$249,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 41,65</strong> sem juros
                </p>
            </div>
        </div>
    </div>
    <h1 class="titulo">
        O QUE OS OUTROS CLIENTES ESTÃO VENDO
    </h1>
    <br>
    <div id="container-mais-vistos">
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
        </div>
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/dgk_fall20_25_1024x1-33a0346d9a9544489616246331515321-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM DGK FUSION</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$449,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 74,98</strong> sem juros
                </p>
            </div>
        </div>
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/dc-shoes-capuz-star-ph1-7537c6e46f8299a5a816462457513108-240-0-removebg-preview.png"
                         alt="" style=" width: 115px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">SKATE MONTADO SKATEBR PUP</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$419,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 69,98</strong> sem juros
                </p>
            </div>
        </div>
        <div class="produto-mais-visto">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-mais-visto">
                    <img src="~/img/skate-montado-denis-basket1-2e88d4f3b55605e77216012903766456-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 177px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">SKATE MONTADO DENIS SILVA</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$239,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 39,83</strong> sem juros
                </p>
            </div>
        </div>
    </div>
    <h1 class="titulo">
        BEM-VINDO!
    </h1>
    <div id="container-bem-vindo">
        <div id="container-filtro-bem-vindo">
            <p id="fonte-g" style="font-weight: bold; color: black;">CATEGORIAS PRINCIPAIS</p>
            <br>
            <a id="fonte-p-black" href="Produtos/Skate">
                <p id="fonte-m">Skate</p>
            </a>
            <br>
            <a id="fonte-p-black" href="http://">
                <p id="fonte-m">Moletom</p>
            </a>
        </div>
        <div class="produto-bem-vindo">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
        <div class="produto-bem-vindo">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
        <div class="produto-bem-vindo">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
        <div class="produto-bem-vindo">

            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
    </div>
    <br>
    <div id="container-bem-vindo">
        <div id="container-filtro-bem-vindo">
        </div>
        <div class="produto-bem-vindo">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
        <div class="produto-bem-vindo">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
        <div class="produto-bem-vindo">
            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>
            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
        <div class="produto-bem-vindo">

            <br>
            <a href="" id="link-carrinho">
                <div class="img-produto-bem-vindo">
                    <img src="~/img/primitive-roxo1-4bcb95b885322ad5a416516755359827-240-0-removebg-preview.png"
                         alt="" style=" width: 105px; height: 150px; ">
                </div>
            </a>
            <div class="nome-produto" style="padding-top: 5px;">
                <a href="" class="fonte-nome-produto">MOLETOM PRIMITIVE EARTH DAY</a>
            </div>
            <br>
            <div class="nome-produto" style="padding-bottom: 5px;">
                <p href="" class="fonte-nome-produto" style="text-decoration: none;">R$199,90</a>
            </div>
            <br>
            <div class="informacoes-pagamento" style="color: #27ae60; font-size: 13px;">
                <p id="fonte-p" style="color: #27ae60; font-size: 13px; text-decoration: none;">
                    <strong>6</strong> x de <strong>R$ 33,31</strong> sem juros
                </p>
            </div>

            <br>
            <div class="botao-comprar">
                <p id="fonte-p">COMPRAR</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <a id="link-carrinho" href="">
        <div id="container-instagram">
            <img src="~/img/Captura de tela 2022-05-04 141330.png" alt="" style="padding-right: 5px;">
            <div style="padding-top: 3px;">
                <p id="fonte-p-black" style="text-decoration: none;">SIGA-NOS NO INSTAGRAM</p>
                <h1 id="titulo" style="color: black;">@@allskaterssz</h1>
            </div>
        </div>
    </a>
    <br>
    <br>
    <hr color="rgb(174, 174, 174)" size="1" width="980px" style="margin: auto;">
    <br>
    <br>
    <div id="container-informacoes">
        <img src="~/img/Captura de tela 2022-05-02 162030.jpg" alt="" style="height: 100px; padding-bottom: 5px;">
        <img id="img-informacoes" src="~/img/Captura de tela 2022-05-02 161648.jpg" alt="">
        <img id="img-informacoes" src="~/img/Captura de tela 2022-05-02 162100.jpg" alt="">
    </div>
    <br>
</body>
<script src="~/js/script.js"></script>

